
.page-header h1 a { color: inherit; text-decoration: none; }

#grid-system { margin-left: 100px; }

h2.page-title { 
    margin-left: 40px; 
    margin-bottom: 15px;
}

.post { margin-bottom: 50px; }

.post .metadata { 
  text-align: right; 
  margin-top: 8px;
}

.post p { font-size: 14px; }

.tags li { 
  list-style: none;
  float: right; 
  margin: 0 0 4px 4px;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: #bee1f6;
}

ul.tags { margin: 3px 0 9px 0; }

.post-link { margin-bottom: 10px; }
.post-link ul.tags { display: inline; }
.post-link ul.tags li { float: left; }

.archive li {
  list-style: none;
}

.post-content { 
  margin-top: 10px;
  padding: 10px 10px 10px 15px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.post-content .post-image {
  text-align: center;
}

.post-content .post-image a:hover {
  text-decoration: none;
  color: #333;
}

.post-content .post-image a {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #999;
  color: #333;
  text-align: center;
}

.post-content .post-image img {
  display: block;
  margin-bottom: 10px;
}

.post .post-links li {
  list-style: none;
  float: right;
  margin: 0 0 5px 4px;
  padding-right: 5px;
  border-right: 1px solid #333;
}

.post .post-links li:first-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.post-content .post-audio {
  margin: 0 auto;
  width: 422px;
}
