
.page-header h1 a { color: inherit; }

#grid-system { margin-left: 100px; }

.post .tags li { 
  list-style: none;
  float: left; 
  margin-right: 4px;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: #bee1f6;
}

ul.tags { margin: 3px 0 9px 0; }

.post-content { margin-top: 10px; }